.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}
.cell:hover {
    background-color: rgb(55, 51, 51);
}
.cell span {
    font-size: 7em;
}
.cell span::after {
    content: ' ';
    display: inline-block;
}
.cell-winner {
    background-color: gold;
}